.center{
    display: flex;
flex-wrap: wrap;
max-width: 1100px;
margin: 0 auto;
padding:0 2%;
}
header{
    padding: 10px 16px;

  background: #555;

  color: #f1f1f1;
}
/* Page content */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
    background: #fff;
 
    position: absolute;
 
    top: 0;
 
    left: 0;
 
    width: 100%;
 
    z-index: 999px;
 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}





footer{
    background-color: #546134;
    color: rgb(235, 239, 242);
    height: auto;
    width: 105%;
    font-size: 20px;
    font-family: helvetica;
    position: absolute;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 0px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0%;
    align-items: stretcsel;
    padding: 0%;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: display;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: rgb(239, 156, 13);
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 1100px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 70px 0px 40px 0px;
    }
}